    #aboutMe{
    padding-top: 70px;
    margin-top: -70px;
  }

  #skills{
    padding-top: 70px;
    margin-top: -70px;
  }

  #contact{
    padding-top: 70px;
    margin-top: -70px;
  }

  hr{
    margin-bottom: 50px;
    border-bottom: 1px solid #303030;
  }

  #prevButton{
    width:50px;
  }

  #nextButton{
    width:50px;
  }

  .bdr {
    border-radius: 12px;
    overflow: hidden;
  }

  .scrollTop{
    position:fixed;
    bottom: 700px;
    right: 40px;
    width: 40px;
    height: 60px;
    background: url(images/upArrow.png);
    border-radius: 50%;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .scrollTop.activate{
    visibility:visible;
    bottom:40px;
    opacity:1;
  }

  body {
    font-family: 'Montserrat';
  }

  .socMedDark{
    color:rgb(255, 255, 255);
    font-size: xx-large;
    margin-right: 15px;
  }

  .socMedLight{
    color:rgb(0, 0, 0);
    font-size: xx-large;
    margin-right: 15px;
  }